@model IEnumerable<SiteECommerce_TP_.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

@foreach (Product product in Model)
{
    <a href="https://localhost:7119/products/details/@product.Id">
        <article>
            <h2>@product.Name</h2>
            <img src="https://localhost:7119/images/@product.Picture"/>
            <label>Description: </label>
            <p>
                @product.Description
            </p>
            <label>Height: </label>
            <p>
                @product.Height
            </p>
            <label>Width: </label>
            <p>
                @product.Width
            </p>
            <label>Length: </label>
            <p>
                @product.Length
            </p>
            <label>Weight: </label>
            <p>
                @product.Weigth
            </p>
            <label>Capacity: </label>
            <p>
                @product.Capacity
            </p>
            <label>Price: </label>
            <p>
                @product.Price $
            </p>
            <label>Constructor: </label>
            <p>
                @product.Constructor
            </p>
            <label>Color: </label>
            <p>
                @product.Color
            </p>
            <label>Opinions: </label>
            <p>
                @product.Opinions
            </p>
        </article>
    </a>
}